<!-- footer of the pagse -->
        <footer class="footer footer-v1">
            <div class="content-block footer-main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="footer-logo">
                                <img src="/img/logo/florence-one-logo-chiaro.png" alt="image-description">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="footer-nav inline-nav text-center">
                                <ul>
                                	<!--<li><a href="#">Chi siamo</a></li>-->
                                    <li><a href="/condizioni-generali-di-fornitura">Condizioni generali di fornitura</a></li>
                                    <li><a href="/contratto-di-licenza-per-utente-finale">Contratto di licenza per utente finale</a></li>
                                    <li><a href="https://www.iubenda.com/privacy-policy/19926816" target="_blank">Privacy Policy</a></li>
                                    <li><a href="https://www.iubenda.com/privacy-policy/19926816/cookie-policy" target="_blank">Cookie Policy</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 text-right">
                            <ul class="social-network with-text">
                                <li><a href="https://www.facebook.com/florenceonesoftware"><span class="icon-facebook"></span></a></li>
                                <li><a href="https://www.instagram.com/florence.one/"><span class="icon-instagram"></span> </a></li>
                                <li><a href="https://www.linkedin.com/company/florence-one/"><span class="icon-linkedin"></span> </a></li>
                                <li><a href="https://www.youtube.com/channel/UCiRIFgEPfHXTQCIGcx99ugA"><span class="icon-youtube"></span> </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom text-center">
                <div class="container">
                    <p>© 2020 Florence One s.r.l. | via Umberto Saba, 42 51100 Pistoia PT | Tel. 0573 1935507 | P.IVA e CF 06754610480 | Capitale sociale: € 10.000,00 | Registro Imprese Camera di Commercio di Pistoia numero 06754610480 | Rea: PT-197703 | PEC: florenceone@pec.net</p>
                </div>
            </div>
        </footer>
        <!--/footer of the page -->
    </div>
    <!-- open/close -->
    <!-- 
    <div class="search-form-wrapper overlay overlay-hugeinc">
        <button type="button" class="overlay-close"><span class="custom-icon-plus"></span></button>
        <div class="search-form">
            <form action="#" method="post">
                <div class="form-group">
                    <input type="search" class="form-control" placeholder="Enter Your Search">
                    <button type="submit"><span class="icon-search"></span></button>
                </div>
            </form>
        </div>
    </div>
    
    <a href="#" class="section-scroll" id="scroll-to-top"><i class="fa fa-angle-up"></i></a>-->
    
    <script type="text/javascript">
var _iub = _iub || [];
_iub.csConfiguration = {"countryDetection":true,"consentOnContinuedBrowsing":false,"whitelabel":false,"lang":"it","siteId":2138144,"floatingPreferencesButtonDisplay":false,"cookiePolicyId":19926816, "banner":{ "brandBackgroundColor":"none","brandTextColor":"black","logo":"https://florence-one.it/img/Logo_Florence-One_White.png","acceptButtonDisplay":true,"customizeButtonDisplay":true,"acceptButtonColor":"#0073CE","acceptButtonCaptionColor":"white","customizeButtonColor":"#DADADA","customizeButtonCaptionColor":"#4D4D4D","rejectButtonColor":"#0073CE","rejectButtonCaptionColor":"white","position":"float-bottom-center","textColor":"#ffffff","backgroundColor":"#252424" }};
</script>
<script type="text/javascript" src="//cdn.iubenda.com/cs/stable/iubenda_cs.js" charset="UTF-8" async></script>