	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    
    <!-- Font Icons -->
    <link media="all" rel="stylesheet" href="/css/fonts/icomoon/icomoon.css">
    <link media="all" rel="stylesheet" href="/css/fonts/roxine-font-icon/roxine-font.css">
    <!--<link media="all" rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.css">-->
    <!-- Vendors -->
    <link media="all" rel="stylesheet" href="/vendors/owl-carousel/dist/assets/owl.carousel.min.css">
    <link media="all" rel="stylesheet" href="/vendors/owl-carousel/dist/assets/owl.theme.default.min.css">
    <link media="all" rel="stylesheet" href="/vendors/animate/animate.css">
    <link media="all" rel="stylesheet" href="/vendors/rateyo/jquery.rateyo.css">
    <link media="all" rel="stylesheet" href="/vendors/bootstrap-datepicker/css/bootstrap-datepicker.css">
    <link media="all" rel="stylesheet" href="/vendors/fancyBox/source/jquery.fancybox.css">
    <link media="all" rel="stylesheet" href="/vendors/fancyBox/source/helpers/jquery.fancybox-thumbs.css">
    <!-- Bootstrap 4 -->
    <link media="all" rel="stylesheet" href="/css/bootstrap.css">
    <!-- Rev Slider -->
    <link rel="stylesheet" type="text/css" href="/vendors/rev-slider/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="/vendors/rev-slider/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="/vendors/rev-slider/revolution/css/navigation.css">
    <!-- Theme CSS -->
    <link media="all" rel="stylesheet" href="/css/main.css">
    <!-- Custom CSS -->
    <link media="all" rel="stylesheet" href="/css/custom.css">
    <link rel="shortcut icon" href="/img/favicon.ico" />
    
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N56Y2KV6MS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-N56Y2KV6MS');
</script>
    <!-- Start of florenceone Zendesk Widget script -->
    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=1197fe53-e453-4666-bd26-dbd8cc72f99f"> </script>
    <!-- End of florenceone Zendesk Widget script -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>