										<div class="col-sm-6">
                                            <ul class="content-links">
                                                <li><a href="sap-business-one">SAP BUSINESS ONE</a></li>
                                                <li><a href="sap-business-bydesign">SAP BYDESIGN</a></li>
                                                <li><a href="kendox-ecm">KENDOX INFOSHARE</a></li>
                                                <li><a href="on-base-hyland">ONBASE</a></li>
                                                <li><a href="whs-mobile">WHS</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6">
                                            <ul class="content-links">
                                            	<li><a href="servizi">SISTEMI MES</a></li>
                                            	<li><a href="servizi">NETWORK</a></li>
                                                <li><a href="servizi">DATABASE DESIGN</a></li>
                                                <li><a href="servizi">ECOMMERCE SOLUTIONS</a></li>
                                                <li><a href="servizi">MARKETPLACE SOLUTIONS</a></li>
                                                
                                            </ul>
                                        </div>