		<!-- header of the page -->
            <header class="fixed-top main-header header-white transparent with-side-panel-ico" id="waituk-main-header">
                <div id="nav-section">
                    <div class="bottom-header container-fluid mega-menus" id="mega-menus">
                        <nav class="navbar navbar-toggleable-md no-border-radius no-margin mega-menu-multiple" id="navbar-inner-container">
                            <form action="mega-menu-5.html" id="top-search" class="no-margin top-search">
                                <div class="form-group no-margin">
                                    <input class="form-control no-border" id="search_term" name="search_term" placeholder="Type & Press Enter" type="text">
                                </div>
                            </form>
                            <button type="button" class="navbar-toggler navbar-toggler-left" data-toggle="collapse" data-target="#mega-menu">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <a class="navbar-brand mr-auto m-sm-auto" href="/"> <img src="/img/logo/florence-one-logo-chiaro.png" alt="florence-one"> <img src="/img/logo/florence-one-logo-scuro.png" alt="florence-one"> </a>
                            <div class="collapse navbar-collapse flex-row-reverse" id="mega-menu">
                                <ul class="nav navbar-nav">
                                    <li>
                                        <a href="/"> Home </a>
                                    </li>
                                    <li class="dropdown" data-animation="fadeIn">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" data-title="Home"> Prodotti </a>
                                        <ul class="dropdown-menu no-border-radius">
                                            <li><a href="/sap-business-one"> SAP Business One </a></li>
                                            <li><a href="/sap-business-bydesign"> SAP Business By Design </a></li>
                                            <li><a href="/whs-mobile"> WHS Mobile </a></li>
                                            <li><a href="/kendox-ecm"> Kendox Infoshare ECM </a></li>
                                            <li><a href="/on-base-hyland"> OnBase </a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/servizi"> Servizi </a>
                                    </li>
                                    <li class="dropdown" data-animation="fadeIn">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" data-title="Home"> Casi di successo </a>
                                        <ul class="dropdown-menu no-border-radius">
                                            <li><a href="/aziende-produzione"> Aziende di produzione </a></li>
                                            <li><a href="/aziende-commerciali-e-servizi"> Aziende commerciali e di servizi </a></li>
                                            <li><a href="/gruppi-internazionali"> Gruppi internazionali </a></li>
                                            <li><a href="/grande-distribuzione-organizzata"> Grande Distribuzione Organizzata </a></li>
                                            <li><a href="/pelletteria-e-tessile"> Pelletteria e tessile </a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/news"> News </a>
                                    </li>
                                    <li>
                                        <a href="/contatti"> Contatti </a>
                                    </li>
                                    <!--
                                    <li>
                                        <a href="valutazione-personalizzata"> Valutazione personalizzata </a>
                                    </li>
                                    -->
                                    
                                </ul>
                            </div>
                            
                        </nav>
                    </div>
                </div>
            </header>
            <!--/header of the page -->