				<aside class="content-block">
                        <div class="container">
                            <div class="block-heading bottom-space text-center">
                                <h3 class="block-top-heading">I NOSTRI</h3>
                                <h2 class="block-main-heading">CLIENTI</h2>
                                <span class="block-sub-heading">Tra i nostri clienti più importanti ci sono grandi marchi.</br>Essi hanno scelto l'esperienza e l’efficienza di Florence One per la loro crescita aziendale.</span>
                                <div class="divider"><img src="img/divider.png" alt="images description"></div>
                            </div>
                            <div class="logo-container">
                                <div class="owl-carousel logo-slide" id="waituk-owl-slide-4">
                                    <div class="slide-item">
                                        <img src="img/loghi_clienti/nee-florence-one.jpg" alt="NEE">
                                    </div>
                                    <div class="slide-item">
                                        <img src="img/loghi_clienti/dentalx-florence-one.jpg" alt="Dentalx">
                                    </div>
                                    <div class="slide-item">
                                        <img src="img/loghi_clienti/alisea-florence-one.jpg" alt="Alisea">
                                    </div>
                                    <div class="slide-item">
                                        <img src="img/loghi_clienti/leading-technologies-florence-one.jpg" alt="Leadind Technologies">
                                    </div>
                                    <div class="slide-item">
                                        <img src="img/loghi_clienti/coop-italian-food-florence-one.jpg" alt="Coop Italian Food">
                                    </div>
                                    <div class="slide-item">
                                        <img src="img/loghi_clienti/panapesca-florence-one.jpg" alt="Panapesca">
                                    </div>
                                    <div class="slide-item">
                                        <img src="img/loghi_clienti/sirio-florence-one.jpg" alt="Sirio">
                                    </div>
                                    <div class="slide-item">
                                        <img src="img/loghi_clienti/nova-florence-one.jpg" alt="Nova">
                                    </div>
                                    <div class="slide-item">
                                        <img src="img/loghi_clienti/heroflon-florence-one.jpg" alt="Heroflon">
                                    </div>
                                    <div class="slide-item">
                                        <img src="img/loghi_clienti/edn-florence-one.jpg" alt="EDN">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>