				<section class="content-block" style="padding-bottom: 0rem">
                        <div class="container">
                            <div class="block-heading bottom-space">
                                <h3 class="block-top-heading">ALCUNI SETTORI</h3>
                                <h2 class="block-main-heading">IN CUI OPERIAMO</h2>
                                <span class="block-sub-heading">Grazie ai progetti sviluppati e alle competenze acquisite in anni di sviluppo e affiancamento,</br>Florence One è in grado di supportare aziende di diversi settori di mercato.</span>
                                <div class="divider"><img src="img/divider.png" alt="images description"></div>
                            </div>
                            
                    </section>
                    <section class="content-block portfolio-block" id="container" style="padding-top: 0rem">
                        <div class="row grid">
                            <div class="gallery-item col-lg-4 col-md-6 ui photography">
                                <figure class="picture-item img-block shine-effect image-zoom port-v2">
                                    <img src="img/settori/FLORENCE-ONE_aziende-produzione-800.jpg" alt="images description">
                                    <figcaption>
                                        <div class="link-box">
                                            <h3 style="color:white">Aziende di produzione</h3>
                                            <a href="aziende-produzione">
                                                <span class="icon-link"><span class="sr-only">&amp;</span></span>
                                            </a>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="gallery-item col-lg-4 col-md-6 photography programming">
                                <figure class="picture-item img-block shine-effect image-zoom port-v2">
                                    <img src="img/settori/FLORENCE-ONE_aziende-commerciali-servizi-800.jpg" alt="images description">
                                    <figcaption>
                                        <div class="link-box">
                                            <h3 style="color:white">Aziende Commerciali e di Servizi</h3>
                                            <a href="aziende-commerciali-e-servizi">
                                                <span class="icon-link"><span class="sr-only">&amp;</span></span>
                                            </a>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="gallery-item col-lg-4 col-md-6 ui photography">
                                <figure class="picture-item img-block shine-effect image-zoom port-v2">
                                    <img src="img/settori/FLORENCE-ONE_gruppi-internazionali-800.jpg" alt="images description">
                                    <figcaption>
                                        <div class="link-box">
                                            <h3 style="color:white">Gruppi Internazionali</h3>
                                            <a href="gruppi-internazionali">
                                                <span class="icon-link"><span class="sr-only">&amp;</span></span>
                                            </a>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="gallery-item col-lg-4 col-md-6 ecommerce programming">
                                <figure class="picture-item img-block shine-effect image-zoom port-v2">
                                    <img src="img/settori/FLORENCE-ONE_grande-distribuzione-organizzata-800.jpg" alt="images description">
                                    <figcaption>
                                        <div class="link-box">
                                            <h3 style="color:white">Grande Distribuzione Organizzata</h3>
                                            <a href="grande-distribuzione-organizzata">
                                                <span class="icon-link"><span class="sr-only">&amp;</span></span>
                                            </a>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="gallery-item col-lg-4 col-md-6 programming ecommerce">
                                <figure class="picture-item img-block shine-effect image-zoom port-v2">
                                    <img src="img/settori/FLORENCE-ONE_pelletteria-tessile-800.jpg" alt="images description">
                                    <figcaption>
                                        <div class="link-box">
                                            <h3 style="color:white">Pelletteria e Tessile</h3>
                                            <a href="pelletteria-e-tessile">
                                                <span class="icon-link"><span class="sr-only">&amp;</span></span>
                                            </a>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="gallery-item col-lg-4 col-md-6 ecommerce ui">
                                <figure class="picture-item img-block shine-effect image-zoom port-v2">
                                    <img src="img/settori/FLORENCE-ONE_logo-settori-800.jpg" alt="images description">
                                    <!--
                                    <figcaption>
                                        <div class="link-box">
                                            <a href="#">
                                                <span class="icon-heart"><span class="sr-only">&amp;</span></span>
                                            </a>
                                            <a href="#">
                                                <span class="icon-link"><span class="sr-only">&amp;</span></span>
                                            </a>
                                        </div>
                                    </figcaption>
                                    -->
                                </figure>
                            </div>
                        </div>
                    </section>