h1,h2,h3,h4,h5,h6,p,a,span,li,ul,button,select{font-family: objektiv-mk2, sans-serif;}
a{ color:inherit; }
a:hover{ color:#29abe2;text-decoration:none; }

#banner-top{height:100vh; box-shadow: inset 0 0 0 1000px rgba(200,200,200,.5);}
.testo-banner .icona i{ color: white;font-size: 2rem;text-shadow: 0px 2px 2px rgba(28, 33, 38, 0.3); }

.titolo-pagina{font-size:4vmax;color: white;font-weight:700;text-transform:uppercase;text-shadow: 1px 1px 5px rgba(0,0,0,0.2);}

.sfondo-big{background-repeat:no-repeat !important;background-position:center center !important;background-size:cover !important;}

.catch, .catch h3, .news h1, .case h1{font-size: 3rem;font-weight:700; color: #212529;}

p, .spaziatura, button, .col-12 ul li{color: #434548;}

.white-t{color:white !important;}

/* menu */
h1.logo, h3.logo { width: 150px;height: 65px; background: url("/img/Logo_Florence-One_Black.png") no-repeat; text-indent: -9999px;}
h3.logo.bianco { width: 175px;height:75px; background: url("/img/Logo_Florence-One_White.png") no-repeat}
ul .menu_top{list-style-type:none; letter-spacing: 1px;}
.menu_top.attivo{font-weight:600; color: #29abe2;}
#navbar { position: fixed;left: 50%;transform: translateX(-50%); z-index:10000; }


/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  background:white;
}

#footer{font-size:70%;}
#footer .col{font-size:90%;}

/* pagina casi */
.ricerca, .ricerca select{ font-size: 2.7vh; font-weight:600;  }
.settori { height: 33vh; }
.case-studies { height: 50vh; }
.case-studies h3{ bottom:2%;font-size: 2.7vh; font-weight:600;text-shadow: 1px 1px 5px rgba(0,0,0,0.2);padding: 0px 30px; }
.overlay:hover{background: rgba(0,0,0,0.5)}

/* The CSS */
select {padding:3px;margin: 0;border:none;border-bottom: 1px solid black;outline:none;display: inline-block;-webkit-appearance:none;-moz-appearance:none;appearance:none;cursor:pointer;max-height:50px;}


.bounce {
  display: inline-block;
  position: relative;
  -moz-animation: bounce 1s infinite ease;
  -o-animation: bounce 1s infinite ease;
  -webkit-animation: bounce 1s infinite ease;
  animation: bounce 1s infinite ease;
  colr:000;
}

@-webkit-keyframes bounce {
    0% { top: 0; }
    30% { top: -0.3em; }
    50% { top: 0; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    30% { top: -0.3em; }
    50% { top: 0; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    30% { top: -0.3em; }
    50% { top: 0; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    30% { top: -0.3em; }
    50% { top: 0; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    30% { top: -0.3em; }
    50% { top: 0; }
    100% { top: 0; }
}

.grassetto{ font-weight: 600;}

.slicknav_menu {
    display:none;
}

@media screen and (max-width: 1099px) {
    .slicknav_menu {
        display:block;
    }
}

.scrollable{
    height:0 !important;
    opacity: 0;
    transition: opacity 1s;
}

.scroll-watch-in-view {
    height: auto !important;
    display:block;
    opacity: 1;
}

blockquote p {
	color: grey;
	font-size: 2rem;
	text-transform: capitalize;
	font-style: italic;
	border-left: 1px solid black;
	/* padding-left: 40px; */
	padding-left: 50px;
}

.fas.slick-arrow {
	color: white;
	font-size: 2.5rem;
}